@model ImageServiceWebApp.Models.Config


@{
    ViewBag.Title = "Config";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5>Config Settings</h5>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(m => m.OutputDirectory)
                </td>
                <td>
                    @Html.DisplayFor(m => m.OutputDirectory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SourceName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.SourceName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.LogName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.LogName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ThumbnailSize)
                </td>
                <td>
                    @Html.DisplayFor(m => m.ThumbnailSize)
                </td>
            </tr>

        </table>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Handlers)
                </th>
            </tr>
            @foreach (string item in Model.Handlers)
                {
                <tr>
                    <td>
                        @Html.ActionLink(@item, "DeleteHandler", "Home", new { toDelete = @item }, null)
                    </td>
                   
                </tr>
            }


        </table>


    </div>
}


