@model ImageServiceWebApp.Models.Photo
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>



@foreach (Dictionary<string, string> item in Model.ListDic)
{
    <div class="col-xs-18 col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-circle" src="/@item["Thumbnail"].Replace(Server.MapPath("~"), "").Replace("\\", "/")" alt="Avatar">
            <div class="caption">
                <h4>@item["name"]</h4>
            
               
                @Html.ActionLink("View ", "ViewPhotos", "Home", new {path = @item["Original"], year=@item["Year"], month = @item["Month"], name = @item["name"] }, null)
                @Html.ActionLink("Delete", "DeleteView", "Home", new { path = @item["Original"], year = @item["Year"], month = @item["Month"], name = @item["name"], Thumbnail = @item["Thumbnail"] }, null)
            </div>
        </div>
    </div>
}


